* {
  font-family: Philosopher !important;
}

body {
	background-color:	#ecebe9;
}

h1 {
	border: 1px solid black;
	padding: 10px;
	background-color: #313a43;
	color: white;
}

.shiny-input-container {
	margin: 0px;
	padding: 0px;
}

.shiny-options-group input ~ span {
	margin: 0px;
	padding: 7px;
}

.shiny-options-group input:checked ~ span {
	margin: 0px;
	padding: 7px;
	background-color: #DCDCDC;
}

#electionyear2 ~ div .option:nth-child(odd) {
  background-color: #F5F5F5;
}

#electionyear ~ div .option:nth-child(odd) {
  background-color: #F5F5F5;
}

.radio input {
	opacity:0;
}

.radio > label{
	padding-left: 0px;
	}
